fastapi==0.104.1
uvicorn==0.24.0
gunicorn==21.2.0
python-multipart==0.0.6
sqlmodel==0.0.8
python-dotenv==1.0.0
requests==2.31.0
google-cloud-vision
google-auth==2.23.4
google-auth-oauthlib==1.1.0
google-auth-httplib2==0.1.1